* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}
a {
  text-decoration: none;
  color: inherit;
}
form {
  color: #aaa;
}
form input {
  color: #ccc;
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #999;
}
form input::placeholder {
  color: #aaa;
}

input {
  display: block;
  width: 98%;
  padding: 15px;
  background: none;
  font-size: 1rem;
  margin: 15px;
  text-overflow: ellipsis;
}

input:focus {
  outline: none;
}

[button] {
  display: block;
  width: fit-content;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header'
    'left middle middle middle';
  grid-template-rows:
    auto
    1fr;
  min-height: 95.5vh;
}
.index-page .grid-container,
.logup-page .grid-container,
.new-page .grid-container,
.about-page .grid-container,
.contact-page .grid-container {
  grid-template-areas:
    'header header header header'
    'middle middle middle middle';
}
.header {
  grid-area: header;
  display: flex;
  background-color: whitesmoke;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 23;
}
.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: flex-end;
}
.left a {
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: none;
  font-variant: small-caps;
}
.nav-link-wrapper,
.tab-link-wrapper,
.status-link-wrapper {
  text-align: center;
  margin-left: 1.5rem;
  text-transform: uppercase;
  padding: 0.3rem;
  border-bottom: 2px solid transparent;
}
.profile-page .status-link-wrapper,
.view-page .status-link-wrapper {
  color: #222;
}
.status-link-wrapper,
.tab-link-wrapper {
  margin: 0;
}
.status-link-wrapper {
  padding: 0.2rem;
}
.nav-link-wrapper a,
.tab-link-wrapper a,
.status-link-wrapper a {
  display: block;
  color: #666;
}
.nav-link-wrapper:hover,
.active {
  border-bottom: 2px solid #444;
  transition: border ease-in-out 0.5s;
}
.status-wrapper .active {
  border: none;
  border-left: 2px solid #444;
  background-color: #ccc;
  font-weight: bold;
}
.nav-link-wrapper:hover a,
.active a,
.tab-link-wrapper:hover a,
.status-link-wrapper:hover a {
  color: #333;
}
.author-info {
  display: flex;
}
img.author-pic {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid grey;
  border-radius: 50%;
}
.user-wrapper .user-pic img {
  width: 100%;
  border: 1px solid rgb(223, 220, 220);
}
.leftside,
.middle {
  padding: 1rem;
}
.leftside {
  grid-area: left;
  overflow: auto;
  background-color: whitesmoke;
  margin-top: 1rem;
  height: fit-content;
  position: sticky;
  top: 10%;
}

.middle {
  grid-area: middle;
  background: none;
}
.index-page .middle,
.logup-page .middle {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/black afro dude.jpg');
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
}
.rightside {
  grid-area: right;
}
.submit {
  color: whitesmoke;
  margin: auto;
  font-size: 1.2rem;
}
.submit:hover {
  border-bottom: 1px solid #aaa;
  transition: 0.8s;
}
.description {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slogan {
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
}
.broadcaster {
  text-transform: none;
  font-size: 2.6rem;
}
.get-started {
  color: whitesmoke;
  border: 2px solid #aaa;
  margin: auto;
}
.get-started:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
  transition: 0.8s;
}
.center {
  width: 35%;
  position: relative;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1rem;
  left: 95%;
  padding: 30px;
  -moz-transform: translateX(-95%);
  -webkit-transform: translateX(-95%);
  transform: translateX(-95%);
}
.center h2 {
  color: #aaa;
  font-weight: 500;
  width: fit-content;
  text-align: center;
  margin: auto;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.psw {
  color: #999;
}

.bcm {
  color: #999;
}

.bottom a {
  text-decoration: underline;
  color: #ccc;
}

.tab-wrapper {
  position: sticky;
  top: 8.67%;
  padding: 1rem 0 1rem 0;
  background-color: rgb(224, 224, 224);
}
.records-wrapper {
  padding-bottom: 1rem;
}
.record {
  background-color: whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
}
.record div {
  margin-bottom: 0.8rem;
}
.record .type {
  font-weight: bold;
  font-style: italic;
}

.inter {
  color: rgb(98, 52, 226);
}
.red {
  color: brown;
}
.record-info {
  color: #444;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  color: #555;
  text-transform: uppercase;
}
.title:hover a {
  color: #222;
}
.comment {
  color: #222;
  font-size: 1.1rem;
  max-height: 200px;
  letter-spacing: 1px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.view-page .comment {
  display: block;
  max-height: none;
  line-height: 25px;
}
.map-panel h3,
.media-panel h3 {
  padding: 1rem 0 0 1rem;
  color: #444;
}
.view-page .map {
  padding: 1rem;
}

.view-page .media-panel {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}
.view-page .media-panel .image-wrapper {
  flex: 100%;
  max-width: 100%;
  padding: 4px;
}
.view-page .media-panel .image-wrapper img {
  width: 100%;
  margin-top: 8px;
}
.view-page .status-panel .edit-delete {
  display: flex;
  flex-wrap: wrap;
}
.view-page .status-panel .edit-delete a,
.del-image-panel button {
  margin: 0 0.5rem 0 0.5rem;
  color: whitesmoke;
  border: none;
}
.del-image-panel button {
  margin: 0;
}
.view-page .status-panel .edit-delete .delete,
.del-image-panel .img-delete {
  background-color: rgb(218, 42, 42);
}
.view-page .status-panel .edit-delete .edit {
  background-color: #444;
}
.view-page .status-panel .edit-delete .delete:hover,
.del-image-panel .img-delete:hover {
  background-color: rgb(172, 1, 1);
}
.view-page .status-panel .edit-delete .edit:hover {
  background-color: #222;
}

iframe {
  width: 100%;
}
.status {
  text-transform: uppercase;
}
.record .resolved {
  color: green;
}
.record .pending {
  color: orange;
}
.record .rejected {
  color: red;
}
.status-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
select option {
  color: #444;
}
select.status {
  display: block;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: whitesmoke;
}
select.status:focus {
  outline: none;
}
.author-info .author-name {
  font-size: 1.2rem;
  padding: 0.25rem;
  margin-left: 0.5rem;
}
.user-wrapper .user-info div {
  color: #555;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem;
}
.user-wrapper .user-info .user-name:hover,
.user-wrapper .user-info .user-username:hover {
  color: #222;
}
.user-wrapper {
  background-color: whitesmoke;
}
.user-wrapper .user-info .user-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

textarea {
  display: block;
  resize: none;
  margin: 5px;
  margin: auto;
  margin-top: 2px;
  width: 98%;
  padding: 2rem;
  font-size: 1.5em;
  color: #333;
  font-family: 'Jomolhari', serif;
  border: none;
  background-color: whitesmoke;
}
textarea:focus {
  outline: none;
}
.new-page input {
  border: none;
  font-family: 'Jomolhari', serif;
  border-bottom: 1px solid #888;
  font-size: 2rem;
  color: #444;
}
.new-record {
  width: 90%;
  margin: auto;
  padding: 2rem;
}
.record-edit {
  padding: 1rem;
}
.new-page .record-info {
  display: block;
}
.new-page .record-info .author-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
}
.new-page .record-info .author-info span {
  display: block;
}

.new-page .add-location input,
.new-page .add-media input {
  width: fit-content;
  font-size: 1rem;
}
.new-page .add-media {
  background-color: #888;
  padding: 0.5rem;
  width: fit-content;
}
.new-page .add-media input {
  border: none;
  display: inline;
  padding: 0;
}
.new-page .add-media span {
  font-weight: bold;
  text-transform: uppercase;
}
.new-page .add-location button {
  padding: 0.3rem;
  margin: 1rem;
  border: none;
  background-color: #555;
  color: white;
}
.new-page .add-location button:hover {
  background-color: #333;
}
.new-page .add-location button:focus {
  outline: none;
}
.new-page .add-location .coordinates {
  background-color: #ddd;
  width: fit-content;
  display: none;
}
.show {
  display: block !important;
}
.new-page .new-record .post-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}
.new-page .new-record .post-panel .post {
  background-color: green;
  color: whitesmoke;
}
.new-page .new-record .post-panel .post:hover {
  background-color: rgb(1, 61, 1);
}
.new-page .new-record .post-panel .cancel {
  background-color: #444;
  color: whitesmoke;
}
.new-page .new-record .post-panel .cancel:hover {
  background-color: #222;
}
.new-page .new-record .post-panel a {
  margin-left: 1rem;
}
.about-page .middle,
.contact-page .middle {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.contact-page .middle {
  flex-wrap: wrap-reverse;
}
.about-page .middle div,
.contact-page .middle div {
  padding: 1rem;
}
.about-page .my-info,
.contact-page .my-info {
  flex: 30%;
  background-color: #666;
}
.about-page .my-info .user-wrapper,
.contact-page .my-info .user-wrapper {
  background-color: inherit;
  color: whitesmoke;
}
.about-page .my-info .user-wrapper div a,
.about-page .my-info .user-wrapper div,
.contact-page .my-info .user-wrapper div a,
.contact-page .my-info .user-wrapper div {
  color: whitesmoke;
}
.about-page .about-me,
.contact-page .about-me {
  flex: 70%;
  background-color: whitesmoke;
  font-size: 1.2rem;
}
.contact-page .user-wrapper .user-pic img {
  border: none;
}
.contact-page .my-email,
.contact-page .my-github,
.contact-page .my-medium {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-page .user-wrapper a {
  text-decoration: underline;
  color: #888;
}
.contact-page .user-info div {
  padding: 0.5rem;
  font-size: 1.1rem;
}
.contact-page .my-name {
  font-size: 1.5rem;
  text-transform: uppercase;
}
.contact-page .my-email img,
.contact-page .my-github img,
.contact-page .my-medium img {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.feedback {
  padding: 1rem;
}
.feedback .hear-from-u {
  color: #333;
  text-align: center;
  font-size: 1.2rem;
}
.feedback-email {
  border: none;
  border-left: 3px solid #444;
  background-color: #ddd;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
}
.feedback-text {
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  font-size: 1.2rem;
  color: #333;
  font-family: 'Jomolhari', serif;
  border: none;
  border-left: 3px solid #444;
  background-color: #ddd;
}
.feedback-submit {
  border: none;
  background-color: #444;
  color: whitesmoke;
}
.feedback-submit:hover {
  background-color: #222;
}
.pagination {
  display: flex;
  justify-content: center;
}
.del-image-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pagination .page {
  text-align: center;
  color: #555;
  padding: 0.3rem;
  margin: 0.8rem;
  border-bottom: 2px solid transparent;
}
.pagination .page:hover {
  border-bottom: 2px solid #222;
  color: #333;
  transition: 0.8s;
}
.pagination .active {
  color: #222;
  border-bottom: 2px solid #222;
  transition: 0.8s;
}
.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.562);
  justify-content: center;
  align-items: center;
  display: flex;
  display: none;
  overflow: auto;
}
.modal {
  width: 30%;
  margin: 5px;
  padding: 10px;
  height: fit-content;
  position: relative;
  background-color: rgba(245, 245, 245, 0.596);
}
.modal-bg .close-modal {
  position: absolute;
  top: -5%;
  right: 2%;
  transform: rotate(45deg);
  --webkit-transform: rotate(45deg);
  z-index: 2;
  font-size: 3em;
  cursor: pointer;
}

.modal-bg .close-modal:hover {
  color: #983a3a
}
.modal-bg > .delete {
    width: 20%;
}
.modal-bg > .delete > center > div{
    font-size: 1.2rem;
}
.modal-bg > .delete > center> [button] {
  background-color: rgb(175, 28, 28);
  color: whitesmoke;
}
.modal-bg > .delete > center > [button]:hover {
    background-color: rgb(129, 11, 11);
}
.no-scroll {
  overflow: hidden;
}
.whole-body {
  min-height: 95.5vh;
  padding-bottom: 30px;
}
.footer {
  padding: 10px;
  text-align: center;
  background-color: #444;
  color: whitesmoke;
  margin-top: -30px;
  height: 30px;
}
.footer a {
  text-decoration: underline;
  color: rgb(106, 171, 231);
}
/* SMALLER SCREENS */

@media (max-width: 768px) {
  .pages .grid-container {
    grid-template-areas:
      'header header header header'
      'left left left left'
      'middle middle middle middle';
  }
  .pages .leftside .user-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .pages .leftside .user-pic {
    width: 35%;
  }
  .pages .leftside {
    min-height: auto;
    position: static;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 0.7rem;
  }
  .grid-container {
    grid-template-areas:
      'header header header header'
      'left left left left'
      'middle middle middle middle';
  }
  .tab-wrapper {
    position: static;
  }
  .center {
    width: 80%;
    left: 47%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .new-page textarea {
    padding: 1rem;
    font-size: 1.2rem;
    width: 100%;
  }
  .new-record input {
    font-size: 1.5rem;
  }
  .new-record {
    width: 100%;
  }
}
